<div class="basic">

  <div id="adie_search">
    <%= search_form_for @search_adie do |f| %>
      <%= f.search_field :cohort_cont, placeholder: "Search Adies by Cohort"%>
      <%= f.submit "", class: "search-button", value: "search"%>
    <% end %>
  </div>

  <h4 class="pagination_bar">Sort by First Name: <%= alphabetical_paginate @alphaParams %></h4>

  <div class="row small-up-1 medium-up-3 large-up-4" id="pagination_table">
    <% if @adies != nil %>
      <% @adies.each do |adie| %>
      <section class="column">
          <div class="headline">
            <li><%= link_to adie_path(adie.id) do %></li>
              <% if adie.adie_image != nil %>
                <%= image_tag("adies/#{adie.adie_image}", class:"adie_photo") %>
              <% else %>
                <%= image_tag("adies/placeholder.png", class:"adie_photo") %>
              <% end %>
            <% end %>
            <li><%= link_to adie.first_name + " " + adie.last_name, adie_path(adie.id) %></li>
            <li>Cohort <%= adie.cohort %></li>
          </div>
      </section>
      <% end %>
  </div>
  <% else %>
    <h3>We found no Adies matching your search.</h3>
  <% end %>
</div>

<script>
  $("#adie_search input").keypress(function(event) {
    if (event.which == 13) {
      event.preventDefault();
        $("#adie_search").submit([name: "commit", value: "search"]);
     }
  });
</script>
