<div class="row">
  <div class="column">
    <div class="form">
      <section>

        <%= form_for @employee, url: employee_path do |f| %>
        <h2>Edit this profile:</h2>

        <div class="field">
          <%= f.label "First Name: " %>
          <%= f.text_field :first_name, :first_name => nil, :required => true %>
        </div>

        <div class="field">
          <%= f.label "Last Name: " %>
          <%= f.text_field :last_name, :last_name => nil, :required => true %>
        </div>

        <div class="field">
          <%= f.label "Job Title: " %>
          <%= f.text_field :job_title, :job_title => nil, :required => true %>
        </div>

        <div class="field">
          <%= f.label "Pronouns: " %>
          <%= f.text_field :pref_pronouns %>
        </div>

        <div class="field">
          <%= f.label "Email: " %>
          <%= f.text_field :email %>
        </div>

        <div class="field">
          <%= f.label "Twitter: " %>
          <%= f.text_field :twitter_handle %>
        </div>

        <div class="field">
          <%= f.label "Linkedin: " %>
          <%= f.text_field :linkedin %>
        </div>

        <div class="field">
          <%= f.label "Github Username: " %>
          <%= f.text_field :github_username %>
        </div>

        <div class="field">
          <%= f.label "Areas of Expertise: " %>
          <%= f.text_field :expertise_areas %>
        </div>

          <%= f.submit 'Save', :class => 'button' %>

        <% end %>
      </section>
    </div>
  </div>
</div>
