<div class="form">
  <section>

    <h2>Add a new company:</h2>

    <%= form_for @company, url: companies_path do |f| %>

    <div class="field">
      <%= f.label "Company Name: " %>
      <%= f.text_field :company_name, :company_name => nil, :required => true %>
    </div>

    <div class="field">
      <%= f.label "Address: " %>
      <%= f.text_field :address, :address => nil, :required => true %>
    </div>

    <div class="field">
      <%= f.label "City: " %>
      <%= f.text_field :city, :city => nil, :required => true %>
    </div>

    <div class="field">
      <%= f.label "State: " %>
      <%= f.text_field :state, :state => nil, :required => true %>
    </div>

    <div class="field">
      <%= f.label "Zip Code: " %>
      <%= f.text_field :zip_code, :zip_code => nil, :required => true %>
    </div>

    <div class="field">
      <%= f.label "Field of Business: " %>
      <%= f.text_field :business_field %>
    </div>

    <div class="field">
      <%= f.label "Website: " %>
      <%= f.text_field :website %>
    </div>

    <h4>Note: Logos must be uploaded separately on individual company pages.</h4>

      <%= f.submit 'Submit', :class => 'btn' %>

    <% end %>
  </section>

</div>
