<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lovelace" %></title>

    <%= stylesheet_link_tag "application.css" %>
    <%= stylesheet_link_tag "foundation.css" %>
    <%= stylesheet_link_tag "app.css" %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="sticky-container" data-sticky-container>
    <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title"><%= link_to "Lovelace", root_path%></div>
    </div>
      <div class="top-bar" id="top-menu" data-sticky data-options="marginTop:0;">
        <div class="top-bar-left">
          <ul class="dropdown vertical medium-horizontal menu">
            <h1 class="menu-text"><%= link_to "Lovelace", root_path%></h1>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown vertical medium-horizontal menu">
            <% if ! signed_in? %>
              <li><%= link_to "Companies", companies_path %></li>
              <li class="menu-text"><%= button_to "Log in", login_path, class: 'button' %></li>
            <% end %>

            <% if signed_in? %>
              <li><%= link_to "Companies", companies_path %></li>
              <li><%= link_to "Adies", adies_path %></li>
              <li><%= link_to "Staff", employees_path %></li>
              <li class="menu-text"><input type="search" placeholder="Not working yet"></li>
              <li class="menu-text"><button type="button" class="button">Search</button></li>
              <li class="menu-text">Hello, <%= current_account.given_name %>!</li>
              <li><%= button_to "Log out", logout_path, method: :post, class: 'button' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
