<!DOCTYPE html>
<html>
  <head>
    <title>Lovelace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Lovelace: The Ada Alumni App</h1>

      <% if ! signed_in? %>
        <%= link_to "Companies", companies_path %>
        <%= button_to "Log in", login_path %>
      <% end %>

      <% if signed_in? %>
        <p>Logged in as: <%= current_account.given_name %></p>
        <%= link_to "Companies", companies_path %>
        <%= link_to "Adies", adies_path %>
        <%= link_to "Staff", employees_path %>
        <%= button_to "Log out", logout_path, method: :post %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
