<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lovelace" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="title">
            <h1><a href="#">Lovelace</a></h1>
          </li>
          <!-- <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li> -->
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <% if ! signed_in? %>
              <%= button_to "Log in", login_path, class: 'button' %>
            <% end %>

            <% if signed_in? %>
              <p>Hello, <%= current_account.given_name %>!</p>
              <%= button_to "Log out", logout_path, method: :post, class: 'button' %>
            <% end %>
          </ul>

          <ul class="left">
            <% if ! signed_in? %>
              <li><%= link_to "Companies", companies_path %></li>
            <% end %>

            <% if signed_in? %>
              <li><%= link_to "Companies", companies_path %></li>
              <li><%= link_to "Adies", adies_path %></li>
              <li><%= link_to "Staff", employees_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
